$black-beans:     #111111;
$congee:          #FFFFFF;
// need a grey food lol...

$raspberry-pie:   ;
$shrimp-grits:    ;
$tikka-masala:    ;
$cornbread:       ;
$mac-n-cheese:    ;
$ube-ice-cream:   ;
// mid-purple
// light-purple
$poptart:         ;
$cotton-candy:    ;
$collard-greens:  ;
$pea-soup:        ;
$blueberry-tart:  ;
// mid-blue
// light blue
