$black-beans:     #111111;
$congee:          #FFFFFF;
// need a grey food lol...

$hotdog:          ;
$shrimp-grits:    ;
$tikka-masala:    ;
$mac-n-cheese:    ;
$poptart:         ;
$collard-greens:  ;
$pea-soup:        ;
$blueberry-pie:   ;
