$black-beans:      #111111;
$congee:           #FFFFFF;
$sardines:        
$earl-grey:        #989c9a;

$raspberry-pie:   ;
$shrimp-grits:    ;
$tikka-masala:    ;
$cornbread:       ;
$mac-n-cheese:    ;
$eggplant-parmesan: ;
$ube-ice-cream:   ;
$spam-musubi:     ;
$cotton-candy:    ;
$collard-greens:  ;
$pea-soup:        ;
$blueberry-tart:  ;
// mid-blue
// light blue
